<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patron Builder</title>
</head>
<body>
    <h1>formularios construidos con el Patrón Builder</h1>
    <form action="#">
        {% for item in dato %}
            <div>
                <label for={{item.label}}>{{item.label}}</label>
                <input type={{item.input_type}} id={{item.label}}>
            </div>
        {% endfor %}
    </form>
</body>
</html>